@font-face {
  font-family: "PF DinDisplay Pro Regular";
  src: url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro Medium";
  src: url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
