@import "fonts";
@import "adaptive";
.container {
    margin: 0 180px;
}

:root {
    /* animations constants */
    --steps: 10;
    --saturation: 80%;
    --lightness: 60%;
    --hue-offset: 320;
    --duration: 5000ms;

    /* generate some colors */
    --color-01: hsl(calc(360 / var(--steps) * 1 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-02: hsl(calc(360 / var(--steps) * 2 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-03: hsl(calc(360 / var(--steps) * 3 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-04: hsl(calc(360 / var(--steps) * 4 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-05: hsl(calc(360 / var(--steps) * 5 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-06: hsl(calc(360 / var(--steps) * 6 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-07: hsl(calc(360 / var(--steps) * 7 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-08: hsl(calc(360 / var(--steps) * 8 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-09: hsl(calc(360 / var(--steps) * 9 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-10: hsl(calc(360 / var(--steps) * 10 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-11: hsl(calc(360 / var(--steps) * 11 + var(--hue-offset)), var(--saturation), var(--lightness));
    --color-crayon: #202036;

    /* build some backgrounds */
    --bg-01-a: no-repeat left 0% top / 11% 0% linear-gradient(to right, var(--color-01), var(--color-02));
    --bg-01-b: no-repeat left 0% top / 11% 100% linear-gradient(to right, var(--color-01), var(--color-02));
    --bg-02-a: no-repeat left 11.11% bottom / 11% 0% linear-gradient(to right, var(--color-02), var(--color-03));
    --bg-02-b: no-repeat left 11.11% bottom / 11% 100% linear-gradient(to right, var(--color-02), var(--color-03));
    --bg-03-a: no-repeat left 22.22% top / 11% 0% linear-gradient(to right, var(--color-03), var(--color-04));
    --bg-03-b: no-repeat left 22.22% top / 11% 100% linear-gradient(to right, var(--color-03), var(--color-04));
    --bg-04-a: no-repeat left 33.33% bottom / 11% 0% linear-gradient(to right, var(--color-04), var(--color-05));
    --bg-04-b: no-repeat left 33.33% bottom / 11% 100% linear-gradient(to right, var(--color-04), var(--color-05));
    --bg-05-a: no-repeat left 44.44% top / 11% 0% linear-gradient(to right, var(--color-05), var(--color-06));
    --bg-05-b: no-repeat left 44.44% top / 11% 100% linear-gradient(to right, var(--color-05), var(--color-06));
    --bg-06-a: no-repeat left 55.55% bottom / 11% 0% linear-gradient(to right, var(--color-06), var(--color-07));
    --bg-06-b: no-repeat left 55.55% bottom / 11% 100% linear-gradient(to right, var(--color-06), var(--color-07));
    --bg-07-a: no-repeat left 66.66% top / 11% 0% linear-gradient(to right, var(--color-07), var(--color-08));
    --bg-07-b: no-repeat left 66.66% top / 11% 100% linear-gradient(to right, var(--color-07), var(--color-08));
    --bg-08-a: no-repeat left 77.77% bottom / 11% 0% linear-gradient(to right, var(--color-08), var(--color-09));
    --bg-08-b: no-repeat left 77.77% bottom / 11% 100% linear-gradient(to right, var(--color-08), var(--color-09));
    --bg-09-a: no-repeat left 88.88% top / 11% 0% linear-gradient(to right, var(--color-09), var(--color-10));
    --bg-09-b: no-repeat left 88.88% top / 11% 100% linear-gradient(to right, var(--color-09), var(--color-10));
    --bg-10-a: no-repeat left 99.99% bottom / 11% 0% linear-gradient(to right, var(--color-10), var(--color-11));
    --bg-10-b: no-repeat left 99.99% bottom / 12% 100% linear-gradient(to right, var(--color-10), var(--color-11));
}

.rainbow-marker-loader {
    height: 4rem;
    width: 20rem;
    max-width: 100%;
    border: 0.5rem solid var(--color-crayon);
    border-radius: 0.5rem;
    animation: infinite alternate rainbow-fill var(--duration) ease-in-out;
    box-sizing: border-box;
    position: relative;
    margin: 1rem;
    background: var(--bg-01-a), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a),
        var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
}

.rainbow-marker-loader::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-top: -7.5%;
    margin-left: -2.5%;
    animation: infinite alternate move-marker var(--duration) ease-in-out;
    background: no-repeat left 0% top / 3rem 50%
            linear-gradient(to bottom right, transparent, transparent 40%, var(--color-crayon) 40%),
        no-repeat left 0% bottom / 3rem 50%
            linear-gradient(to top right, transparent, transparent 40%, var(--color-crayon) 40%),
        no-repeat left 3rem bottom / 100% 100% linear-gradient(var(--color-crayon), var(--color-crayon));
}

@keyframes move-marker {
    10% {
        transform: translate(5%, 100%) rotate(2.5deg);
    }
    20% {
        transform: translate(20%, 0) rotate(-5deg);
    }
    30% {
        transform: translate(30%, 100%) rotate(2.5deg);
    }
    40% {
        transform: translate(40%, 0) rotate(-5deg);
    }
    50% {
        transform: translate(50%, 100%) rotate(2.5deg);
    }
    60% {
        transform: translate(60%, 0) rotate(-5deg);
    }
    70% {
        transform: translate(70%, 100%) rotate(2.5deg);
    }
    80% {
        transform: translate(80%, 0) rotate(-5deg);
    }
    90% {
        transform: translate(90%, 100%) rotate(2.5deg);
    }
    100% {
        transform: translate(100%, 0) rotate(-5deg);
    }
}

@keyframes rainbow-fill {
    0% {
        background: var(--bg-01-a), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    10% {
        background: var(--bg-01-b), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    20% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    30% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    40% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-a), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    50% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-a),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    60% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b),
            var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    70% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b),
            var(--bg-07-b), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
    }
    80% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b),
            var(--bg-07-b), var(--bg-08-b), var(--bg-09-a), var(--bg-10-a);
    }
    90% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b),
            var(--bg-07-b), var(--bg-08-b), var(--bg-09-b), var(--bg-10-a);
    }
    100% {
        background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b),
            var(--bg-07-b), var(--bg-08-b), var(--bg-09-b), var(--bg-10-b);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "PF DinDisplay Pro Regular";
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PF DinDisplay Pro Medium";
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
header {
    flex: 0 0 auto;
    padding-top: 30px;
    .navbar {
        font-family: "PF DinDisplay Pro Medium";
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__adaptive {
            display: none;
            .header__adaptive-burger {
                font-size: 38px;
                color: #5c97ff;
            }
        }
        .header__navbar-block_links {
            display: flex;
            .header__navbar-link {
                text-decoration: none;
                color: black;
                margin-left: 100px;
                transition: all 0.5s;
                font-size: 17.5px;
                &:hover {
                    color: #5c97ff;
                }
            }
        }
    }
    .header__navbar-element.logo img {
        width: 70px;
    }
}

.button {
    // display: flex;
    font-family: "PF DinDisplay Pro Medium";
    padding: 23px 32px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-align: center !important;
    transition: all 0.5s;
    background: linear-gradient(
        94.38deg,
        #5c97ff 16.59%,
        #5c97ff 16.59%,
        #5c97ff 16.6%,
        rgba(92, 151, 255, 0.78) 77.05%
    );
    box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.3);
    border-radius: 23px;
    &:hover {
        box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.77);
    }
    .header__navbar-icon {
        margin-right: 5px;
    }
}

// Main Page
main#main-page {
    .welcome_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .welcome__text {
            h1 {
                margin: -60px 0 0 0;
            }
            .welcome__block-button {
                margin-top: 20px;
                width: 170px;
                padding: 15px 40px;
            }
        }
        .welcome__image {
            img {
                margin-right: 150px;
                width: 693px;
            }
        }
    }
    section {
        .section__title {
            font-family: "PF DinDisplay Pro Regular";
            font-size: 42px;
        }
        .section__description {
            margin: 0;
            color: #787878;
            font-size: 24px;
            margin-top: 5px;
        }
        .slider__nav {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 230px;
            .slider__nav-list {
                display: flex;
                align-items: center;
                div:first-child {
                    margin-left: 0;
                }
                .slider__nav-lists_number {
                    color: #c9c9c9;
                }
                > div {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .slider__nav-button {
                font-family: "PF DinDisplay Pro Medium";
                border-radius: 5px;
                color: #5c97ff;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.5s;
                font-size: 18px;
                border: 2px solid #5c97ff;
                &:hover {
                    background: #5c97ff;
                    color: white;
                }
            }
        }
    }
    section.main-page__section_two {
        background: #fbfbfb;
        margin-top: 40px;
        padding: 50px 0;
        .section__title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .icon_online {
            margin-left: 10px;
        }
        .slider {
            display: flex;
            .slider__item:first-child {
                margin-left: 0;
            }
            > .slider__item {
                background: url(../images/arizona_surpise_ava.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 400px;
                height: 290px;
                margin-left: 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                -moz-box-shadow: -1px 4px 12px #5c97ff;
                -webkit-box-shadow: -1px 4px 12px #5c97ff;
                box-shadow: -1px -24px 12px 7px rgba(92, 151, 255, 0.7) inset;
                color: white;
                border-radius: 5px;
                font-family: "PF DinDisplay Pro Regular";
                transition: all 0.5s;
                // &:hover {
                //     animation: jello; /* referring directly to the animation's @keyframe declaration */
                //     animation-duration: 2s; /* don't forget to set a duration! */
                //     animation-play-state: running;
                // }
                .slider__item-date {
                    font-size: 18px;
                    margin-bottom: 3px;
                    margin-left: 15px;
                }
                .slider__item-show {
                    font-size: 18px;
                    margin-bottom: 3px;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 5px;
                    }
                }
                border-radius: 20px;
                background-position: center;
                .slider__item-preview img {
                    width: 340px;
                }
            }
        }
    }
    section.main-page__section-three {
        background: #fff;
        padding: 50px 0;
        .slider__nav {
            position: absolute;
            margin-left: 10px;
            margin-top: -5px;
        }
        .launcher__block-nav {
            display: flex;
            align-items: center;
            position: absolute;
            margin-left: 80px;
            margin-bottom: 20px;
            .launcher__block-nav_pagination {
                border: 1px solid #adadad;
                border-radius: 20px;
                margin-right: 11px;
                cursor: pointer;
                width: 15px;
                height: 15px;
            }
            .launcher__block-nav_pagination_active {
                cursor: default;
                background: linear-gradient(164.05deg, #5c97ff 11.11%, rgba(92, 151, 255, 0) 261.39%);
            }
        }

        .mobile__launcher__block {
            display: none;
            margin: 60px 0;
        }

        .mobile__launcher__block {
            text-align: center;
            .mobile__launcher__block-description {
                margin-top: 4px;
            }
            .mobile__launcher__block-button {
                margin-top: 15px;
            }
        }

        .launcher__block {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 200px;
            .launcher__block-image img {
                width: 700px;
                margin-bottom: -200px;
            }
            .launcher__block-text {
                display: flex;
                justify-content: end;
                flex-direction: column;
                text-align: right;
                div.launcher__block-button {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;
                    div.button {
                        width: 120px;
                    }
                }
            }
        }
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.icon_online {
    height: 13px;
    border-radius: 40px;
    width: 13px;
    background: #80d811;
}

// Moderator Panel Page
main#cabinet-page {
    .cabinet-page__person img {
        position: absolute;
        right: 12%;
        margin-top: -120px;
        z-index: -1;
        width: 50%;
    }
    margin-top: 120px;
    font-family: "PF DinDisplay Pro Medium";
    .cabinet__container-login {
        font-size: 32px;
    }
    .cabinet__container-out_button {
        padding: 6px 18px;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
    }
    .cabinet__container {
        display: grid;
        grid-template-columns: repeat(1, 0.8fr);
        > div:first-child {
            width: 65%;
            margin-top: 0px;
        }
    }
    .cabinet__container-block.cabinet__container-block_line {
        > div {
            border-bottom: 1px solid #fff;
        }
    }
    .cabinet__container-block {
        margin-top: 69px;
        background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
        border-radius: 20px;
        color: white;
        padding: 20px;
        > div {
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            margin-bottom: 13px;
            margin-top: 13px;
        }
    }
}

// Admin Panel Page
main#admin-page {
    .admin-page__person img {
        position: absolute;
        right: 12%;
        margin-top: -120px;
        z-index: -1;
        width: 50%;
    }
    margin-top: 120px;
    font-family: "PF DinDisplay Pro Medium";
    .admin__container-login {
        font-size: 32px;
    }
    .admin__container-button {
        padding: 6px 18px;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
    }
    .admin__container {
        display: grid;
        grid-template-columns: repeat(1, 0.8fr);
        > div:first-child {
            width: 65%;
            margin-top: 0px;
        }
    }
    .admin__container-block.admin__container-block_line {
        > div {
            border-bottom: 1px solid #fff;
        }
    }
    .admin__container-block-info-element {
        margin-top: 69px;
        background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
        border-radius: 20px;
        color: white;
        padding: 20px;
        > div {
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            margin-bottom: 13px;
            margin-top: 13px;
        }
    }
    .admin__container-block-info {
        display: flex;
        justify-content: space-between;
        width: 65%;
        .admin__container-block-info-element {
            padding: 0px 30px;
            min-width: 15%;
            .admin__container-block_title {
                justify-content: center;
                font-size: 26px !important;
            }
            .admin__container-block_value {
                justify-content: center;
                font-size: 100px;
                margin-right: 5px;
            }
        }
    }
    .admin__container-block {
        margin-top: 69px;
        background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
        border-radius: 20px;
        color: white;
        padding: 20px;
        > div {
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            margin-bottom: 13px;
            margin-top: 13px;
        }
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
// Loading
main#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .title {
        color: var(--color-crayon);
        font-size: 1.5rem;
        font-family: "M PLUS Rounded 1c", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

// footer
footer {
    background: linear-gradient(112.71deg, #5c97ff 10.51%, rgba(92, 151, 255, 0.58) 103.02%);
    padding: 30px 0;
    margin-top: 120px;
    font-family: "PF DinDisplay Pro Medium";
    color: #e3edff;
    .footer__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__logo-year {
        margin-left: 3px;
    }
    .footer__domain {
        font-size: 28px;
    }
    .footer__logo img {
        width: 130px;
    }
    .footer__links > div {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        a {
            color: white;
        }
    }
}
// footer
