@import "fonts";
@import "adaptive";
.container {
    margin: 0 180px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PF DinDisplay Pro Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PF DinDisplay Pro Medium";
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    padding-top: 30px;
    .navbar {
        font-family: "PF DinDisplay Pro Medium";
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__adaptive {
            display: none;
            .header__adaptive-burger {
                font-size: 38px;
                color: #5c97ff;
            }
        }
        .header__navbar-block_links {
            display: flex;
            .header__navbar-link {
                text-decoration: none;
                color: black;
                margin-left: 100px;
                transition: all 0.5s;
                font-size: 17.5px;
                &:hover {
                    color: #5c97ff;
                }
            }
        }
    }
    .header__navbar-element.logo img {
        width: 70px;
    }
}

.button {
    // display: flex;
    font-family: "PF DinDisplay Pro Medium";
    padding: 23px 32px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-align: center !important;
    transition: all 0.5s;
    background: linear-gradient(
        94.38deg,
        #5c97ff 16.59%,
        #5c97ff 16.59%,
        #5c97ff 16.6%,
        rgba(92, 151, 255, 0.78) 77.05%
    );
    box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.30);
    border-radius: 23px;
    &:hover{
        box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.77);
    }
    .header__navbar-icon {
        margin-right: 5px;
    }
}

main#main-page {
    .welcome_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .welcome__text {
            h1 {
                margin: -60px 0 0 0;
            }
            .welcome__block-button {
                margin-top: 20px;
                width: 170px;
                padding: 15px 40px;
            }
        }
        .welcome__image {
            img {
                margin-right: 150px;
                width: 693px;
            }
        }
    }
    section {
        .section__title {
            font-family: "PF DinDisplay Pro Regular";
            font-size: 42px;
        }
        .section__description {
            margin: 0;
            color: #787878;
            font-size: 24px;
            margin-top: 5px;
        }
        .slider__nav {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 230px;
            .slider__nav-list {
                display: flex;
                align-items: center;
                div:first-child {
                    margin-left: 0;
                }
                .slider__nav-lists_number {
                    color: #c9c9c9;
                }
                > div {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .slider__nav-button {
                font-family: "PF DinDisplay Pro Medium";
                border-radius: 5px;
                color: #5c97ff;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.5s;
                font-size: 18px;
                border: 2px solid #5c97ff;
                &:hover {
                    background: #5c97ff;
                    color: white;
                }
            }
        }
    }
    section.main-page__section_two {
        background: #fbfbfb;
        margin-top: 40px;
        padding: 50px 0;
        .section__title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .icon_online {
            margin-left: 10px;
        }
        .slider {
            display: flex;
            .slider__item:first-child {
                margin-left: 0;
            }
            > .slider__item {
                background: url(../images/arizona_surpise_ava.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 400px;
                height: 290px;
                margin-left: 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                -moz-box-shadow: -1px 4px 12px #5c97ff;
                -webkit-box-shadow: -1px 4px 12px #5c97ff;
                box-shadow: -1px -24px 12px 7px rgba(92, 151, 255, 0.7) inset;
                color: white;
                border-radius: 5px;
                font-family: "PF DinDisplay Pro Regular";
                transition: all 0.5s;
                // &:hover {
                //     animation: jello; /* referring directly to the animation's @keyframe declaration */
                //     animation-duration: 2s; /* don't forget to set a duration! */
                //     animation-play-state: running;
                // }
                .slider__item-date {
                    font-size: 18px;
                    margin-bottom: 3px;
                    margin-left: 15px;
                }
                .slider__item-show {
                    font-size: 18px;
                    margin-bottom: 3px;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 5px;
                    }
                }
                border-radius: 20px;
                background-position: center;
                .slider__item-preview img {
                    width: 340px;
                }
            }
        }
    }
    section.main-page__section-three {
        background: #fff;
        padding: 50px 0;
        .slider__nav {
            position: absolute;
            margin-left: 10px;
            margin-top: -5px;
        }
        .launcher__block-nav {
            display: flex;
            align-items: center;
            position: absolute;
            margin-left: 80px;
            margin-bottom: 20px;
            .launcher__block-nav_pagination {
                border: 1px solid #adadad;
                border-radius: 20px;
                margin-right: 11px;
                cursor: pointer;
                width: 15px;
                height: 15px;
            }
            .launcher__block-nav_pagination_active {
                cursor: default;
                background: linear-gradient(164.05deg, #5c97ff 11.11%, rgba(92, 151, 255, 0) 261.39%);
            }
        }

        .mobile__launcher__block {
            display: none;
            margin: 60px 0;
        }

        .mobile__launcher__block {
            text-align: center;
            .mobile__launcher__block-description {
                margin-top: 4px;
            }
            .mobile__launcher__block-button {
                margin-top: 15px;
            }
        }

        .launcher__block {
            display: flex;
            align-items: center;
            .launcher__block-image img {
                width: 700px;
                margin-bottom: -200px;
            }
            .launcher__block-text {
                display: flex;
                justify-content: end;
                flex-direction: column;
                text-align: right;
                div.launcher__block-button {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;
                    div.button {
                        width: 120px;
                    }
                }
            }
        }
    }
}

.icon_online {
    height: 13px;
    border-radius: 40px;
    width: 13px;
    background: #80d811;
}
// footer
footer {
    background: linear-gradient(112.71deg, #5c97ff 10.51%, rgba(92, 151, 255, 0.58) 103.02%);
    padding: 30px 0;
    margin-top: 120px;
    font-family: "PF DinDisplay Pro Medium";
    color: #e3edff;
    .footer__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__logo-year {
        margin-left: 3px;
    }
    .footer__domain {
        font-size: 28px;
    }
    .footer__logo img {
        width: 130px;
    }
    .footer__links > div {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        a {
            color: white;
        }
    }
}
// footer
