@font-face {
  font-family: "PF DinDisplay Pro Regular";
  src: url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro Medium";
  src: url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header__adaptive-burger {
  position: relative;
  width: 65px;
  height: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.logo_adaptive {
  display: none !important;
}

.header__adaptive-burger span {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #000;
  left: 0;
  border-radius: 10px;
  transition: 225ms;
}

.header__adaptive-burger {
  z-index: 5;
}
.header__adaptive-burger span:nth-child(1) {
  top: 0;
  width: 50%;
}
.header__adaptive-burger span:nth-child(2) {
  top: calc(50% - 5px);
}
.header__adaptive-burger span:nth-child(3) {
  bottom: 0;
  width: 50%;
  left: 30px;
}

.header__adaptive-burger {
  z-index: 50;
}

@media screen and (max-width: 1370px) {
  main#admin-page .admin__container-block-info {
    width: 100% !important;
  }

  main#cabinet-page .cabinet__container {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  main#cabinet-page .cabinet__container > div:first-child {
    width: 100% !important;
  }
  main#cabinet-page .cabinet__container > div:last-child {
    margin-bottom: 80px;
  }
  main#cabinet-page .cabinet-page__person img {
    display: none !important;
  }

  main#admin-page .admin__container {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  main#admin-page .admin__container > div:first-child {
    width: 100% !important;
  }
  main#admin-page .admin__container > div:last-child {
    margin-bottom: 80px;
  }
  main#admin-page .admin-page__person img {
    display: none !important;
  }

  .container {
    margin: 0 60px !important;
  }
}
@media screen and (max-width: 1130px) {
  .container {
    margin: 0 10px !important;
  }
}
@media screen and (max-width: 1024px) {
  section .section__title {
    font-size: 28px !important;
  }
  section .section__description {
    font-size: 18px !important;
  }

  .main-page__section_two {
    margin-top: 20px;
  }

  .slider > a:first-child {
    display: flex !important;
  }

  .slider > a {
    display: none !important;
  }

  section.main-page__section-three {
    padding: 15px 0 !important;
  }

  .mobile__launcher__block {
    display: block !important;
  }

  footer {
    margin-top: 0 !important;
  }

  .launcher__block {
    display: none !important;
  }

  .slider {
    display: grid !important;
  }
  .slider > .slider__item {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }

  .slider__nav {
    width: 100% !important;
    justify-content: space-evenly !important;
  }

  .container {
    margin: 0 20px !important;
  }

  header.header__adaptive-active {
    background: #5c97ff;
  }

  header.header__adaptive-active .navbar {
    align-items: flex-start;
  }
  header.header__adaptive-active .navbar .header__adaptive-burger {
    margin-top: 10px;
  }
  header.header__adaptive-active .header__navbar-block_links {
    display: block !important;
  }
  header.header__adaptive-active .header__navbar-element.logo img {
    display: none !important;
  }
  header.header__adaptive-active .header__navbar-element.logo img.logo_adaptive {
    display: block !important;
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(1) {
    top: calc(25% - 4px);
    left: 2px;
    transform: rotate(225deg);
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(2) {
    transform: rotate(-45deg);
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(3) {
    left: calc(26px);
    bottom: calc(25% - 5px);
    transform: rotate(225deg);
  }

  .header__navbar-element.logo img.logo_adaptive {
    display: none !important;
  }

  .header__navbar-block_links {
    display: none !important;
  }
  .header__navbar-block_links > div {
    margin-bottom: 10px;
  }
  .header__navbar-block_links .header__navbar-link {
    color: white !important;
    font-size: 20px !important;
    margin-left: 0 !important;
  }

  .header__adaptive-menu {
    display: block !important;
  }

  .welcome__text h1 {
    margin-top: 20px !important;
  }

  .welcome__image img {
    width: 500px !important;
    margin-right: 0 !important;
  }

  .header__navbar-cabinet {
    display: none !important;
  }

  .header__adaptive {
    display: block !important;
  }
}
@media screen and (max-width: 700px) {
  main#main-page .welcome__image {
    display: none !important;
  }
}
@media screen and (max-width: 670px) {
  main#admin-page .admin__container-block-info {
    display: block !important;
  }
}
@media screen and (max-width: 600px) {
  .cabinet__container-block > div {
    align-items: center;
    font-size: 18px !important;
  }

  .cabinet__container-login {
    font-size: 20px !important;
  }

  main#admin-page .admin__container-block > div {
    align-items: center;
    font-size: 16.5px !important;
  }
  main#admin-page .admin__container-login {
    font-size: 20px !important;
  }
  main#admin-page .admin__container-button {
    font-size: 16px !important;
  }
  main#admin-page .admin__container .user-info-block {
    display: block;
  }
  main#admin-page .admin__container .user-info-block .admin__container-login {
    margin-bottom: 5px;
  }
  main#admin-page .admin__container-block-info-element {
    padding: 10px !important;
  }
  main#admin-page .admin__container-block_value {
    font-size: 90px !important;
  }

  .footer__logo div {
    display: none !important;
  }

  .slider > a:first-child {
    display: flex !important;
  }

  .slider > a {
    display: none !important;
  }

  .footer__container {
    display: grid !important;
    justify-content: center !important;
  }
  .footer__container > div {
    margin-bottom: 30px;
  }

  section.main-page__section-three {
    padding: 15px 0 !important;
  }

  .mobile__launcher__block {
    display: block !important;
  }

  .launcher__block {
    display: none !important;
  }

  .container {
    margin: 0 20px !important;
  }

  header.header__adaptive-active {
    background: #5c97ff;
  }

  header.header__adaptive-active .navbar {
    align-items: flex-start;
  }
  header.header__adaptive-active .navbar .header__adaptive-burger {
    margin-top: 10px;
  }
  header.header__adaptive-active .header__navbar-block_links {
    display: block !important;
  }
  header.header__adaptive-active .header__navbar-element.logo img {
    display: none !important;
  }
  header.header__adaptive-active .header__navbar-element.logo img.logo_adaptive {
    display: block !important;
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(1) {
    top: calc(25% - 4px);
    left: 2px;
    transform: rotate(225deg);
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(2) {
    transform: rotate(-45deg);
  }
  header.header__adaptive-active .header__adaptive-burger span:nth-child(3) {
    left: calc(26px);
    bottom: calc(25% - 5px);
    transform: rotate(225deg);
  }

  .header__navbar-element.logo img.logo_adaptive {
    display: none !important;
  }

  .header__navbar-block_links {
    display: none !important;
  }
  .header__navbar-block_links > div {
    margin-bottom: 10px;
  }
  .header__navbar-block_links .header__navbar-link {
    color: white !important;
    font-size: 20px !important;
    margin-left: 0 !important;
  }

  .header__adaptive-menu {
    display: block !important;
  }

  .welcome__text h1 {
    margin-top: 20px !important;
  }

  .welcome__image {
    display: none;
  }

  .header__navbar-cabinet {
    display: none;
  }

  .header__adaptive {
    display: block !important;
  }
}
.container {
  margin: 0 180px;
}

:root {
  /* animations constants */
  --steps: 10;
  --saturation: 80%;
  --lightness: 60%;
  --hue-offset: 320;
  --duration: 5000ms;
  /* generate some colors */
  --color-01: hsl(calc(360 / var(--steps) * 1 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-02: hsl(calc(360 / var(--steps) * 2 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-03: hsl(calc(360 / var(--steps) * 3 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-04: hsl(calc(360 / var(--steps) * 4 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-05: hsl(calc(360 / var(--steps) * 5 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-06: hsl(calc(360 / var(--steps) * 6 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-07: hsl(calc(360 / var(--steps) * 7 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-08: hsl(calc(360 / var(--steps) * 8 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-09: hsl(calc(360 / var(--steps) * 9 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-10: hsl(calc(360 / var(--steps) * 10 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-11: hsl(calc(360 / var(--steps) * 11 + var(--hue-offset)), var(--saturation), var(--lightness));
  --color-crayon: #202036;
  /* build some backgrounds */
  --bg-01-a: no-repeat left 0% top / 11% 0% linear-gradient(to right, var(--color-01), var(--color-02));
  --bg-01-b: no-repeat left 0% top / 11% 100% linear-gradient(to right, var(--color-01), var(--color-02));
  --bg-02-a: no-repeat left 11.11% bottom / 11% 0% linear-gradient(to right, var(--color-02), var(--color-03));
  --bg-02-b: no-repeat left 11.11% bottom / 11% 100% linear-gradient(to right, var(--color-02), var(--color-03));
  --bg-03-a: no-repeat left 22.22% top / 11% 0% linear-gradient(to right, var(--color-03), var(--color-04));
  --bg-03-b: no-repeat left 22.22% top / 11% 100% linear-gradient(to right, var(--color-03), var(--color-04));
  --bg-04-a: no-repeat left 33.33% bottom / 11% 0% linear-gradient(to right, var(--color-04), var(--color-05));
  --bg-04-b: no-repeat left 33.33% bottom / 11% 100% linear-gradient(to right, var(--color-04), var(--color-05));
  --bg-05-a: no-repeat left 44.44% top / 11% 0% linear-gradient(to right, var(--color-05), var(--color-06));
  --bg-05-b: no-repeat left 44.44% top / 11% 100% linear-gradient(to right, var(--color-05), var(--color-06));
  --bg-06-a: no-repeat left 55.55% bottom / 11% 0% linear-gradient(to right, var(--color-06), var(--color-07));
  --bg-06-b: no-repeat left 55.55% bottom / 11% 100% linear-gradient(to right, var(--color-06), var(--color-07));
  --bg-07-a: no-repeat left 66.66% top / 11% 0% linear-gradient(to right, var(--color-07), var(--color-08));
  --bg-07-b: no-repeat left 66.66% top / 11% 100% linear-gradient(to right, var(--color-07), var(--color-08));
  --bg-08-a: no-repeat left 77.77% bottom / 11% 0% linear-gradient(to right, var(--color-08), var(--color-09));
  --bg-08-b: no-repeat left 77.77% bottom / 11% 100% linear-gradient(to right, var(--color-08), var(--color-09));
  --bg-09-a: no-repeat left 88.88% top / 11% 0% linear-gradient(to right, var(--color-09), var(--color-10));
  --bg-09-b: no-repeat left 88.88% top / 11% 100% linear-gradient(to right, var(--color-09), var(--color-10));
  --bg-10-a: no-repeat left 99.99% bottom / 11% 0% linear-gradient(to right, var(--color-10), var(--color-11));
  --bg-10-b: no-repeat left 99.99% bottom / 12% 100% linear-gradient(to right, var(--color-10), var(--color-11));
}

.rainbow-marker-loader {
  height: 4rem;
  width: 20rem;
  max-width: 100%;
  border: 0.5rem solid var(--color-crayon);
  border-radius: 0.5rem;
  animation: infinite alternate rainbow-fill var(--duration) ease-in-out;
  box-sizing: border-box;
  position: relative;
  margin: 1rem;
  background: var(--bg-01-a), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
}

.rainbow-marker-loader::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: -7.5%;
  margin-left: -2.5%;
  animation: infinite alternate move-marker var(--duration) ease-in-out;
  background: no-repeat left 0% top/3rem 50% linear-gradient(to bottom right, transparent, transparent 40%, var(--color-crayon) 40%), no-repeat left 0% bottom/3rem 50% linear-gradient(to top right, transparent, transparent 40%, var(--color-crayon) 40%), no-repeat left 3rem bottom/100% 100% linear-gradient(var(--color-crayon), var(--color-crayon));
}

@keyframes move-marker {
  10% {
    transform: translate(5%, 100%) rotate(2.5deg);
  }
  20% {
    transform: translate(20%, 0) rotate(-5deg);
  }
  30% {
    transform: translate(30%, 100%) rotate(2.5deg);
  }
  40% {
    transform: translate(40%, 0) rotate(-5deg);
  }
  50% {
    transform: translate(50%, 100%) rotate(2.5deg);
  }
  60% {
    transform: translate(60%, 0) rotate(-5deg);
  }
  70% {
    transform: translate(70%, 100%) rotate(2.5deg);
  }
  80% {
    transform: translate(80%, 0) rotate(-5deg);
  }
  90% {
    transform: translate(90%, 100%) rotate(2.5deg);
  }
  100% {
    transform: translate(100%, 0) rotate(-5deg);
  }
}
@keyframes rainbow-fill {
  0% {
    background: var(--bg-01-a), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  10% {
    background: var(--bg-01-b), var(--bg-02-a), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  20% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-a), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  30% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-a), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  40% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-a), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  50% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-a), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  60% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b), var(--bg-07-a), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  70% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b), var(--bg-07-b), var(--bg-08-a), var(--bg-09-a), var(--bg-10-a);
  }
  80% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b), var(--bg-07-b), var(--bg-08-b), var(--bg-09-a), var(--bg-10-a);
  }
  90% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b), var(--bg-07-b), var(--bg-08-b), var(--bg-09-b), var(--bg-10-a);
  }
  100% {
    background: var(--bg-01-b), var(--bg-02-b), var(--bg-03-b), var(--bg-04-b), var(--bg-05-b), var(--bg-06-b), var(--bg-07-b), var(--bg-08-b), var(--bg-09-b), var(--bg-10-b);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "PF DinDisplay Pro Regular";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PF DinDisplay Pro Medium";
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

header {
  flex: 0 0 auto;
  padding-top: 30px;
}
header .navbar {
  font-family: "PF DinDisplay Pro Medium";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .header__adaptive {
  display: none;
}
header .navbar .header__adaptive .header__adaptive-burger {
  font-size: 38px;
  color: #5c97ff;
}
header .navbar .header__navbar-block_links {
  display: flex;
}
header .navbar .header__navbar-block_links .header__navbar-link {
  text-decoration: none;
  color: black;
  margin-left: 100px;
  transition: all 0.5s;
  font-size: 17.5px;
}
header .navbar .header__navbar-block_links .header__navbar-link:hover {
  color: #5c97ff;
}
header .header__navbar-element.logo img {
  width: 70px;
}

.button {
  font-family: "PF DinDisplay Pro Medium";
  padding: 23px 32px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-align: center !important;
  transition: all 0.5s;
  background: linear-gradient(94.38deg, #5c97ff 16.59%, #5c97ff 16.59%, #5c97ff 16.6%, rgba(92, 151, 255, 0.78) 77.05%);
  box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.3);
  border-radius: 23px;
}
.button:hover {
  box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.77);
}
.button .header__navbar-icon {
  margin-right: 5px;
}

main#main-page .welcome_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main#main-page .welcome_block .welcome__text h1 {
  margin: -60px 0 0 0;
}
main#main-page .welcome_block .welcome__text .welcome__block-button {
  margin-top: 20px;
  width: 170px;
  padding: 15px 40px;
}
main#main-page .welcome_block .welcome__image img {
  margin-right: 150px;
  width: 693px;
}
main#main-page section .section__title {
  font-family: "PF DinDisplay Pro Regular";
  font-size: 42px;
}
main#main-page section .section__description {
  margin: 0;
  color: #787878;
  font-size: 24px;
  margin-top: 5px;
}
main#main-page section .slider__nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}
main#main-page section .slider__nav .slider__nav-list {
  display: flex;
  align-items: center;
}
main#main-page section .slider__nav .slider__nav-list div:first-child {
  margin-left: 0;
}
main#main-page section .slider__nav .slider__nav-list .slider__nav-lists_number {
  color: #c9c9c9;
}
main#main-page section .slider__nav .slider__nav-list > div {
  margin-left: 10px;
  margin-right: 10px;
}
main#main-page section .slider__nav .slider__nav-button {
  font-family: "PF DinDisplay Pro Medium";
  border-radius: 5px;
  color: #5c97ff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 18px;
  border: 2px solid #5c97ff;
}
main#main-page section .slider__nav .slider__nav-button:hover {
  background: #5c97ff;
  color: white;
}
main#main-page section.main-page__section_two {
  background: #fbfbfb;
  margin-top: 40px;
  padding: 50px 0;
}
main#main-page section.main-page__section_two .section__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main#main-page section.main-page__section_two .icon_online {
  margin-left: 10px;
}
main#main-page section.main-page__section_two .slider {
  display: flex;
}
main#main-page section.main-page__section_two .slider .slider__item:first-child {
  margin-left: 0;
}
main#main-page section.main-page__section_two .slider > .slider__item {
  background: url(../images/arizona_surpise_ava.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 290px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  -moz-box-shadow: -1px 4px 12px #5c97ff;
  -webkit-box-shadow: -1px 4px 12px #5c97ff;
  box-shadow: -1px -24px 12px 7px rgba(92, 151, 255, 0.7) inset;
  color: white;
  border-radius: 5px;
  font-family: "PF DinDisplay Pro Regular";
  transition: all 0.5s;
  border-radius: 20px;
  background-position: center;
}
main#main-page section.main-page__section_two .slider > .slider__item .slider__item-date {
  font-size: 18px;
  margin-bottom: 3px;
  margin-left: 15px;
}
main#main-page section.main-page__section_two .slider > .slider__item .slider__item-show {
  font-size: 18px;
  margin-bottom: 3px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
main#main-page section.main-page__section_two .slider > .slider__item .slider__item-show i {
  margin-right: 5px;
}
main#main-page section.main-page__section_two .slider > .slider__item .slider__item-preview img {
  width: 340px;
}
main#main-page section.main-page__section-three {
  background: #fff;
  padding: 50px 0;
}
main#main-page section.main-page__section-three .slider__nav {
  position: absolute;
  margin-left: 10px;
  margin-top: -5px;
}
main#main-page section.main-page__section-three .launcher__block-nav {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 80px;
  margin-bottom: 20px;
}
main#main-page section.main-page__section-three .launcher__block-nav .launcher__block-nav_pagination {
  border: 1px solid #adadad;
  border-radius: 20px;
  margin-right: 11px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
main#main-page section.main-page__section-three .launcher__block-nav .launcher__block-nav_pagination_active {
  cursor: default;
  background: linear-gradient(164.05deg, #5c97ff 11.11%, rgba(92, 151, 255, 0) 261.39%);
}
main#main-page section.main-page__section-three .mobile__launcher__block {
  display: none;
  margin: 60px 0;
}
main#main-page section.main-page__section-three .mobile__launcher__block {
  text-align: center;
}
main#main-page section.main-page__section-three .mobile__launcher__block .mobile__launcher__block-description {
  margin-top: 4px;
}
main#main-page section.main-page__section-three .mobile__launcher__block .mobile__launcher__block-button {
  margin-top: 15px;
}
main#main-page section.main-page__section-three .launcher__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}
main#main-page section.main-page__section-three .launcher__block .launcher__block-image img {
  width: 700px;
  margin-bottom: -200px;
}
main#main-page section.main-page__section-three .launcher__block .launcher__block-text {
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: right;
}
main#main-page section.main-page__section-three .launcher__block .launcher__block-text div.launcher__block-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
main#main-page section.main-page__section-three .launcher__block .launcher__block-text div.launcher__block-button div.button {
  width: 120px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.icon_online {
  height: 13px;
  border-radius: 40px;
  width: 13px;
  background: #80d811;
}

main#cabinet-page {
  margin-top: 120px;
  font-family: "PF DinDisplay Pro Medium";
}
main#cabinet-page .cabinet-page__person img {
  position: absolute;
  right: 12%;
  margin-top: -120px;
  z-index: -1;
  width: 50%;
}
main#cabinet-page .cabinet__container-login {
  font-size: 32px;
}
main#cabinet-page .cabinet__container-out_button {
  padding: 6px 18px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}
main#cabinet-page .cabinet__container {
  display: grid;
  grid-template-columns: repeat(1, 0.8fr);
}
main#cabinet-page .cabinet__container > div:first-child {
  width: 65%;
  margin-top: 0px;
}
main#cabinet-page .cabinet__container-block.cabinet__container-block_line > div {
  border-bottom: 1px solid #fff;
}
main#cabinet-page .cabinet__container-block {
  margin-top: 69px;
  background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
  border-radius: 20px;
  color: white;
  padding: 20px;
}
main#cabinet-page .cabinet__container-block > div {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-top: 13px;
}

main#admin-page {
  margin-top: 120px;
  font-family: "PF DinDisplay Pro Medium";
}
main#admin-page .admin-page__person img {
  position: absolute;
  right: 12%;
  margin-top: -120px;
  z-index: -1;
  width: 50%;
}
main#admin-page .admin__container-login {
  font-size: 32px;
}
main#admin-page .admin__container-button {
  padding: 6px 18px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}
main#admin-page .admin__container {
  display: grid;
  grid-template-columns: repeat(1, 0.8fr);
}
main#admin-page .admin__container > div:first-child {
  width: 65%;
  margin-top: 0px;
}
main#admin-page .admin__container-block.admin__container-block_line > div {
  border-bottom: 1px solid #fff;
}
main#admin-page .admin__container-block-info-element {
  margin-top: 69px;
  background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
  border-radius: 20px;
  color: white;
  padding: 20px;
}
main#admin-page .admin__container-block-info-element > div {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-top: 13px;
}
main#admin-page .admin__container-block-info {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
main#admin-page .admin__container-block-info .admin__container-block-info-element {
  padding: 0px 30px;
  min-width: 15%;
}
main#admin-page .admin__container-block-info .admin__container-block-info-element .admin__container-block_title {
  justify-content: center;
  font-size: 26px !important;
}
main#admin-page .admin__container-block-info .admin__container-block-info-element .admin__container-block_value {
  justify-content: center;
  font-size: 100px;
  margin-right: 5px;
}
main#admin-page .admin__container-block {
  margin-top: 69px;
  background: linear-gradient(94.38deg, #5c97ff 16.59%, rgba(92, 151, 255, 0.78) 77.05%);
  border-radius: 20px;
  color: white;
  padding: 20px;
}
main#admin-page .admin__container-block > div {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-top: 13px;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
main#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  min-height: 100vh;
}
main#loading .title {
  color: var(--color-crayon);
  font-size: 1.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  background: linear-gradient(112.71deg, #5c97ff 10.51%, rgba(92, 151, 255, 0.58) 103.02%);
  padding: 30px 0;
  margin-top: 120px;
  font-family: "PF DinDisplay Pro Medium";
  color: #e3edff;
}
footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer__logo-year {
  margin-left: 3px;
}
footer .footer__domain {
  font-size: 28px;
}
footer .footer__logo img {
  width: 130px;
}
footer .footer__links > div {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
footer .footer__links > div a {
  color: white;
}
